---
layout: default
---
<div class="wrapper">
  <section>
    <div id="post">
      {{ content }}
    </div>
  </section>
  {% if page.previous %}
  <span class="page-nav-item.left">
    <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr; View previous article</a>
  </span>
  {% endif %}
  {% if page.next %}
  <span class="page-nav-item.right">
    <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" title="View {{ page.next.title }}">View next article &rarr;</a>
  </span>
  {% endif %}
</div>
