---
layout: default
---
<div class="container">
<div class="row">
<div class="col-md-12">

  <section>
    <div id="post">
      {{ content }}
    </div>
  <div id="page-nav-item">
    {% if page.previous %}
    <span class="left">
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr; Prev</a>
    </span>|
    {% endif %}
    <span text-align="center"><a href="{{ site.baseurl }}/posts.html">Index</a></span>
    {% if page.next %}
    |<span class="right">
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" title="View {{ page.next.title }}">Next &rarr;</a>
    </span>
  {% endif %}
  </div>
  </section>

</div>
</div>
</div>
